<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
<div class="container">
    <div class="col-md-4">
		<h1>Books</h1>
	</div>

	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	
	<div style="padding:0 20px">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Year</th>
                <th>Price(€)</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.ISBN}"></td>
                <td th:text="${book.pubYear}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.category.name}"></td>
                <td>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger btn-sm">Delete</a>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/editbook/{id}(id=${book.id})}" class="btn btn-primary btn-sm">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a sec:authorize="hasRole('ADMIN')" href="/addbook" class="btn btn-primary">Add book</a>
</body>
</html>
